<h1>Task Lists for <%= @taskable.class.name %>: <%= @taskable.try(:name) || "Unknown" %></h1>

<%= link_to "Create New Task List", new_polymorphic_path([@taskable, :task_list]), class: "btn btn-primary" %>

<ul>
  <% @task_lists.each do |task_list| %>
    <li>
      <%= link_to task_list.name, polymorphic_path([ @taskable, task_list]) %>
      (<%= link_to "Edit", edit_polymorphic_path([@taskable, task_list ])%> |
       <%= link_to "Delete", polymorphic_path([ @taskable, task_list ]), method: :delete, data: { confirm: "Are you sure?" } %>)
    </li>
  <% end %>
</ul>
