<h2>Tasks</h2>
<%= link_to "Add Task", new_polymorphic_path([@task_list.taskable, @task_list, :task]), class: "btn btn-primary" %>

<ul>
  <% @task_list.tasks.each do |task| %>
    <li>
      <%= task.title %> - <%= task.status %>
      <%= link_to "Edit", edit_polymorphic_path([@task_list.taskable, @task_list, task]) %> |

      <%= button_to "Complete", polymorphic_path([@task_list.taskable, @task_list, task], action: :complete), method: :patch, class: "btn btn-success btn-link", data: { turbo: true } if task.status == "pending" %>

      <%= button_to "Delete", polymorphic_path([@task_list.taskable, @task_list, task]), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-link" %>

      <h3>Subtasks</h3>
      <div id="subtasks">
        <%= turbo_frame_tag "task_steps" do %>
          <%= render task.task_steps %>
        <% end %>
      </div>

      <%= render "todoro/task_steps/form", task: task %>

    <% end %>
</ul>

<%= link_to "Back to Task Lists", polymorphic_path([@task_list.taskable, :task_lists]), class: "btn btn-secondary" %>
