<h1><%= @task_list.name %></h1>

<%= link_to "Edit", edit_taskable_task_list_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, id: @task_list.id), class: "btn btn-warning" %>
<%= link_to "Delete", taskable_task_list_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, id: @task_list.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>

<h2>Tasks</h2>
<%= link_to "Add Task", new_taskable_task_list_task_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, task_list_id: @task_list.id), class: "btn btn-primary" %>

<ul>
  <% @task_list.tasks.each do |task| %>
    <li>
      <%= task.title %> - <%= task.status %>
      (<%= link_to "Edit", edit_taskable_task_list_task_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, task_list_id: @task_list.id, id: task.id) %> |
       <%= link_to "Complete", complete_taskable_task_list_task_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, task_list_id: @task_list.id, id: task.id), method: :patch if task.status == "pending" %> |
       <%= link_to "Delete", taskable_task_list_task_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id, task_list_id: @task_list.id, id: task.id), method: :delete, data: { confirm: "Are you sure?" } %>)
    </li>
  <% end %>
</ul>

<%= link_to "Back to Task Lists", taskable_task_lists_path(taskable: @task_list.taskable.class.name, taskable_id: @task_list.taskable.id), class: "btn btn-secondary" %>

